h1, h2 {
  color: #000000;
  font-family: courier;
  text-align: center;
  margin-top: 3rem;
}

div {
  text-align:center;
  display: grid;
  grid-template-column: 1fr;
  place-items: center;  
}

img {
  border-radius: 8px;
  max-width: 30%;
  height: auto;
}

iframe {
  width: 100%;
}

body {
  background-color: #C5FFFD;
}

ul.nav {
  list-style-type: none;
  margin: 0px;
  left: 0px;
  top: 0;
  margin-bottom: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #a3d5d3;
  position: fixed;
  width: 100%;
  border-radius: 0px 0px 8px 8px;
}
li.nav {
  float: left;
}

li a {
  display: block;
  color:#1c1a1a;
  font-family: courier;
  font-weight: bold;
  text-align: center;
  padding: 18px 22px;
  text-decoration: none;
  border-radius: 8px;
}

li a:hover {
  background-color:#E0F2E9;
}

